.benefits {
  // padding-top: 94px;
  // padding-bottom: 0;

  padding-top: 60px;
  padding-bottom: 60px;

  &__title--visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__list {
    // display: flex;
    // flex-wrap: wrap;
    display: block;
  }

  &__item {
    // width: 270px;
    // margin-right: 30px;
    width: 100%;
    margin-bottom: 30px;

    &:last-child {
      // margin-right: 0;
      margin-bottom: 0;
    }
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
  }

  &__desc {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: $secondary-text-color;
  }
}

.inner-icon {
  background-color: $background-color-command;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
}
