.clients {
  // padding-top: 100px;
  // padding-bottom: 94px;

  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    margin-top: 0;
    // margin-bottom: 50px;
    margin-bottom: 30px;
    color: $primary-text-color;
    font-weight: 700;
    // font-size: 36px;
    font-size: 28px;
    // line-height: 1.17;
    line-height: 1.18;
    text-align: center;
  }

  &__list {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    // width: 170px;
    // height: 92px;

    width: 210px;
    height: auto;
    // width: calc((100% - 60px) / 2);
    margin-bottom: 30px;
    margin-right: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  &__link {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // &:hover,
    &:focus,
    &:active {
      border: 1px solid $accent-color;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    // &:hover .clients__icon
    &:active .clients__icon,
    &:focus .clients__icon {
      fill: $accent-color;
    }
  }

  &__icon {
    width: 106px;
    height: 60px;
    fill: $color-icon;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
