.work-examples {
  // display: flex;
  // flex-wrap: wrap;
  display: block;

  &__item:not(:last-child) {
    margin-bottom: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    // margin-right: 30px;
    // // width: 370px;
    // width: calc((100% - 60px) / 3);
    // &:nth-child(3n) {
    //   margin-right: 0;
    // }

    // &:nth-last-child(-n + 3) {
    //   margin-bottom: 0;
    // }
  }

  &__link {
    text-decoration: none;

    &:active &__overlay {
      transform: translateX(0);
    }

    &:hover &__overlay {
      transform: translateX(0);
    }
  }

  &__inner {
    // width: 370px;
    // height: 294px;
    width: 450px;
    height: 294px;
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%) scale(1);
    transition: transform 250ms ease;
  }

  &__text {
    margin: 0;
    padding: 63px 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
    color: $white-color;
  }

  &__img {
    width: 100%;
    object-fit: contain;
    object-position: center;
    height: auto;
  }

  &__projects {
    width: 450px;
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: 0;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 4px;

    color: $primary-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: $secondary-text-color;
  }
}
