.services {
  padding-top: 94px;
  padding-bottom: 94px;
  display: none;

  &__title {
    margin-top: 0;
    margin-bottom: 50px;

    color: $primary-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 370px;
    margin-right: 30px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }
  }

  &__name {
    width: 100%;
    height: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: $white-color;
  }
}

.inner-services {
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
}
